body {
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 0;
}
.post {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}
.post:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.post-title {
  font-size: 18px;
  margin-bottom: 10px;
}
.post-info {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}
.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}
.page-item {
  margin: 0 5px;
}
.page-link {
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  text-decoration: none;
}
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.search-txt {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-btn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px; /* 버튼의 크기를 늘리기 위해 패딩을 추가 */
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.search-btn:hover {
  background-color: #2383e9;
}
.btn-group-vertical {
display: flex;
flex-direction: column;
align-items: flex-end; /* 버튼을 오른쪽으로 정렬 */
}

.btn-group-vertical .btn {
margin-bottom: 5px;
}