body{
  height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, #accaee 40%, #ffffff);
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.container-fluid {
  min-height: 100vh; /* 최소 뷰포트 높이 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* 가운데 정렬 */
  flex: 1 1 auto; /* 공간을 균등하게 나눔 */
  min-width: 0; /* flex-item이 줄어들 수 있게 함 */
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain; /* 이미지 비율 유지하면서 축소 */
}
footer {
  margin-top: 2rem; /* 간격 조정 */
}

/* 시작하기 애니메이션 효과*/
.fade-in {
  animation: fadeIn 3s linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
    to {
  opacity: 1;
    }
}

/* 이미지 애니메이션 효과 */
.works_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.works_main {
  position: relative;
}
  
.works_main div {
  width: auto;
  height: auto;
  overflow: hidden;
  display: inline-block;
}
  
.works_main img {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out, filter 1s ease-in-out;
}
  
.works_main:hover img {
  transform: scale(1.2);
  transform-origin: center;
  filter: brightness(50%);
  transition: transform 1s ease-in-out, filter 1s ease-in-out;
}

.works_main p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.works_main:hover p {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}