/* x 버튼 */
.close {
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: #b3b68b;
  text-decoration: none;
}

/* 지역 선택 제목 */
h2 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
  color: #ce0000;
}

/* 선택 버튼 */
#selectButton {
  background-color: #1b3f66; /* 배경색 설정 */
  color: #ffffff; /* 텍스트 색상 설정 */
  border: none; /* 테두리 없음 */
  border-radius: 4px; /* 테두리 모서리의 굴곡 정도 설정 */
  padding: 10px 20px; /* 내부 여백 설정 (위아래 10px, 좌우 20px) */
  font-size: 16px; /* 글꼴 크기 설정 */
  cursor: pointer; /* 마우스 커서 모양 설정 */
}

/* 취소 버튼 */
#cancelButton {
  background-color: #1b3f66; /* 배경색 설정 */
  color: #ffffff; /* 텍스트 색상 설정 */
  border: none; /* 테두리 없음 */
  border-radius: 4px; /* 테두리 모서리의 굴곡 정도 설정 */
  padding: 10px 20px; /* 내부 여백 설정 (위아래 10px, 좌우 20px) */
  font-size: 16px; /* 글꼴 크기 설정 */
  cursor: pointer; /* 마우스 커서 모양 설정 */
}

/* 버튼 컨테이너 */
.button-container {
  text-align: center; /* 내부 요소를 가로로 가운데 정렬 */
}

/* 오버레이 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 배경 */
  z-index: 999; /* 다른 요소 위에 보이도록 설정 */
  display: none; /* 초기에는 숨김 */
}

/* 모달 창 */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* 오버레이 위에 보이도록 설정 */
  display: block; /* 모달이 열릴 때 내용물을 보이도록 변경 */
}