main {
  padding: 15px 0;
  background: #f3f3f3;
}

.btn_container {
  display: flex;
  justify-content: end;
  height: 58px;
  margin-bottom: 15px;
}
.btn_container .dislike_btn {
  margin-left: 15px;
}

.btn_container .input-group {
  width: 290px;
  height: 100%;
}

.main_container {
  width: 800px;
  margin: 0 auto;
}

.main_container ul, .main_container ol {
  margin: 0px;
  padding: 0px;
}

.main_container ul li, .main_container ol li {
  list-style: none;
}

.main_container h6 {
  font-weight: 600;
  letter-spacing: -2px;
}

.main_container .map h6 {
  margin: 10px 0;
}

.main_container .map h6:first-child {
  margin: 0 0 5px;
} 

.img_container {
  min-height: 144px;
  background: url("../images/detail_temp.jpg") 50% 50%;
}

.top_container {
  background-color: #fff;
}

.title_container {
  position: relative;
  margin: -21px 30px 0px;
  padding: 25px 0;
  text-align: center;
  background: #fff url("../images/bg_shadow_bottom.png") no-repeat 0 100%;
  background-size: contain;
  border-radius: 3px 3px 0 0;
}

.title_container h2 {
  margin-bottom: 20px;
  color: #333;
}

.nav-tabs {
  box-shadow: rgba(55, 94, 148, 0.2) 1px 1px 4px, rgba(255, 255, 255, 0.4) -5px -5px 1px;
}

.nav-tabs > li {
  width: 25%;
  text-align: center;
}

.nav-tabs .nav-link {
  padding: 12px 0;
}

.tab-content > .tab-pane {
  margin-bottom: 15px;
  padding: 25px 79px;
  background-color: #fff;
  border-radius: 5px;
}

.breadcrumb {
  justify-content: center;
  transition: none;
  margin-bottom: 0px;
  padding: 0px;
  box-shadow: none;
  background-color: #fff;
  border-radius: initial;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #333;
  content: var(--bs-breadcrumb-divider, "│") /* rtl: var(--bs-breadcrumb-divider, "│") */;
}

.menu_list li {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #f2f2f2;
}

.menu_list .food_image {
  width: 109px;
  height: auto;
  padding-right: 16px;
}

.menu_list .food_image img {
  width: 100%;
  height: auto;
}

.detail_info p {
  display: flex;
  margin: 10px 0;
}

.detail_info span, .detail_info p, .detail_info span, .detail_info a {
  font-size: 0.92em;
}

.detail_info em {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0px;
  font-style: normal;
  background: url("/images/recomm_ico_detail.png") no-repeat;
  background-size: auto 100%;
  background-position: left top;
}

.detail_info em.location {
  background-position: -40px 1px;
}

.detail_info em.hour {
  background-position: -60px 1px;
}

.detail_info em.insta {
  background-position: -80px 1px;
}

.detail_info em.num {
  background-position: -100px 1px;
}

.detail_info em.reservation {
  background-position: -120px 1px;
}

.review_list {
  display: flex;
  flex-wrap: wrap;
}

.review_list li {
  width: 205px;
  border: 1px solid rgba(230, 230, 230, 1);
}

.review_list .review_container {
  margin: 0 10px 10px;
}

.review_list li .reivew_title {
  display: block;
  margin: 4px 0 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -2px;
}

.review_list li .reivew_content {
  display: -webkit-box;
  overflow: hidden;
  max-height: calc(100% - 78px);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
}

.review_list li .user_name {
  display: inline-block;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.subway_list {
  display: flex;
  flex-wrap: wrap;
}

.subway_list li {
  width: 50%;
}

.subway {
  display: inline-block;
  vertical-align: baseline;
  min-width: 18px;
  height: 18px;
  margin: 1px 4px 0 0;
  padding: 0 5px;
  border-radius: 9px;
  box-sizing: border-box;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  line-height: 18px;
  text-align: center;
}

.bar {
  display: inline-block;
  width: 1px;
  height: 15px;
  margin-right: 4px;
  text-indent: -9999px;
  vertical-align: middle;
  background: #ddd;
}

.bus_town {
  display: inline-block;
  padding: 1px 3px;
  color: #fff;
  font-size: 0.685rem;
  background-color: #5fb73c;
  border-radius: 5px;
  border: 1px solid #53a135;
}

.bus_list p {
  display: inline-block;
  width: 50%;
}

.bus_list .bar {
  margin-left: 4px;
  margin-bottom: 3px;
}

html,
body {
  position: relative;
}

.swiper {
  height: 150px;
  margin-bottom: 15px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #ececec;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map_cotent {
  width: 100%;
  height: 400px;
}